ul.index-menu-modal 
  div.modal-exit X
  li.index-menu-itemm
    a.index-menu-link Главная
  li.index-menu-itemm
    a.index-menu-link О компании
  li.index-menu-itemm
    a.index-menu-link Стимулирование продаж
  li.index-menu-itemm
    a.index-menu-link Специальные мероприятия 
  li.index-menu-itemm
    a.index-menu-link География
  li.index-menu-itemm
    a.index-menu-link Команда
  
div.index-slogan Мы с Ростова!
div.index-contacts
  i(class="fa fa-headphones" aria-hidden="true")
  span 8-800-100-500-00
  i(class="fa fa-envelope-o" aria-hidden="true")
  span fbr-info@fbr.com
div.index-menu

  div.index-menu--left
    div.index-logo FBR
    div.divider
    div.index-logo-text Агентство
      br
      | маркетинговых
      br
      |коммуникаций
  div.index-menu--right
    div.menu-current
      ul.index-menu-list
        li.index-menu-item.active
          a.index-menu-link главная
        li.index-menu-item
          a.index-menu-link товарная
        li.index-menu-item
          a.index-menu-link сортировочная
        li.index-menu-item
          a.index-menu-link о компании 
        li.index-menu-item
          a.index-menu-link контакты
      
    div.hamburger
      div.rod.rod1
      div.rod.rod2
      div.rod.rod3
div(class="owl-carousel")
  div.slides
    img(src = "assets/img/fbr-slider1.jpg")
  div.slides
    img(src = "assets/img/fbr-slider3.jpg")
  div.slides
    img(src = "assets/img/fbr-slider6.jpg")
div.greatings
  div.greating.greating1
    div.greating_text Мы практикующие профессионалы.
      br 
      |Маркетинговые теории
      br
      |мы
      span проверяем в полях 
      |и вносим в них свои коррективы
  div.greating.greating2
    div.greating_text Мы продуманные креаторы.
      br 
      |Мы творим жизнеспособные, красивые и 
      span прибыльные идеи 
      |на заказ
  div.greating.greating3
    div.greating_text Мы ответственные исполнители.
      br
      |Для нас не бывает трудных задач, бывают 
      span особенно геморройные
  div.greating.greating4
    div.greating_text Мы эффективная команда
      br
      |мы
      span верим в себя 
      |и в свое дело
      

  

